<!DOCTYPE html>
<html>
	<head>
		{{> header/head}}
	</head>
	<body>
		{{> header/preloader}}
		<header>
			{{> header/header}}
		</header>
		{{> header/nav}}
		<main>
			{{{body}}}
		</main>
		<footer>
			{{> footer/footer}}
		</footer>
	</body>
</html>