<div id="column-left" class="col-sm-3 hidden-xs column-left">
    <div class="column-block">
        <div class="columnblock-title">Категории</div>
        <div class="category_block">
            <ul class="box-category treeview-list treeview">
            
                <li><a href=""  >Красота</a> </li>
                <li><a href=""  >Здоровье</a> </li>
                <li><a href=""  >Развлечение</a> </li>
                <li><a href="">Культура</a> </li>
            </ul>
        </div>
    </div>

</div>