<form action="/d" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
  <input type="text" name="name">
  <input type="text" name="price">
  <input type="text" name="old_price">
  <input type="text" name="sale">
    <input type="submit">
</form>